.container
{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    min-height: 100vh;
    padding: 0 .5rem;
}

.title
{
    font-size: 2rem;

    color: #0070f3;
}
